.contact__form-chat-message-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact__form-chat-message-form.justifyStart {
  align-items: flex-start;
}

.contact__form-chat-message {
  width: 45%;
  height: 40px;
  margin: 25px 10px 0 0;
}

.contact__form-chat-message-form.justifyStart .contact__form-chat-message {
  margin: 25px 0 0 10px;
}

.contact__form-chat-message-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 500;
}

.contact__form-chat-message-info img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 5px;
}

.contact__form-chat-message-form.justifyStart
  .contact__form-chat-message-info
  img {
  margin-left: 0px;
  margin-right: 5px;
}

.contact__form-chat-message-chat {
  font-size: 12px;
  background-color: #e1e1e1;
  padding: 5px 10px;
  color: #151d3b;
  border-radius: 10px;
  word-break: break-all;
}
